<%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>
    <main class="min-h-screen bg-gray-50 p-8">
    <!-- Hero Section -->
    <section class="text-center py-16">
        <h1 class="text-4xl font-extrabold text-gray-800 mb-4">Your booked homes:</h1>
    </section>
    </main>
    
</body>
</html>